body {
    padding: 0;
    margin: 0;
    background-image: url(10.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    background-attachment: fixed;
}
.box {
    width: 528px;
    height: 416px;
    background: #ffffff8c;
    top: 48%;
    left: 51%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 7%;
    padding: 70px 30px;
}
h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 37px;
}